/*
  The CSS in this style tag is based off of Bear Blog's default CSS.
  https://github.com/HermanMartinus/bearblog/blob/297026a877bc2ab2b3bdfbd6b9f7961c350917dd/templates/styles/blog/default.css
  License MIT: https://github.com/HermanMartinus/bearblog/blob/master/LICENSE.md
 */

@import "tailwindcss";


.rounded-full{
	border-radius: 50%;
}



:root {
	--accent: #0A66C2;
	--accent-dark: #0A66C2;
	--black: 15, 18, 25;
	--gray: 96, 115, 159;
	--gray-light: 229, 233, 240;
	--gray-dark: 34, 41, 57;
	--gray-gradient: rgba(var(--gray-light), 50%), #fff;
	--box-shadow:
		0 2px 6px rgba(var(--gray), 25%), 0 8px 24px rgba(var(--gray), 33%), 0 16px 32px
		rgba(var(--gray), 33%);
	--background-dark-image: url("/grid-dark.jpg");	
}
@font-face {
	font-family: "Atkinson";
	src: url("/fonts/atkinson-regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "Atkinson";
	src: url("/fonts/atkinson-bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}


body {
	font-family: "Atkinson", sans-serif;
	margin: 0;
	padding: 0;
	text-align: left;
	word-wrap: break-word;
	overflow-wrap: break-word;
	color: rgb(var(--gray-dark));
	font-size: 20px;
	line-height: 1.7;
	height: 100vh;
}

.hero{
  position: relative;
  background: url("/grid.jpg") top center / cover no-repeat;
}

.hero.dark {
  background: url("/grid-dark.jpg") top center / cover no-repeat;
}

.hero::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(
    140deg,
    #2c88f1 -38%,
    #e8e8e8 30%,
    #e8e8e8 50%,
    #e8e8e8 60%,
    #9bcbff 86%
  );
  mix-blend-mode: multiply; /* or adjust opacity */
  pointer-events: none;
}

.hero-2{
  background: #e4e6e9;
}

.highlight {
  position: relative;
  padding: 0.12em 0.4em;
  background: transparent;
  color: rgb(238, 231, 231);
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
  z-index: 3;
}

.highlight::after {
	 content: ''; 
	 position: absolute; 
	 width: 100%; 
	 height: 105%; 
	 left: -0.25rem; 
	 top: -0.05rem; 
	 filter: url(#marker-shape); 
	 background-color: #7c50b2; 
	 z-index: -1; 
	transform-origin: left;
  	transform: scaleX(0);
  	z-index: -1;
	animation: marker-draw 0.8s cubic-bezier(.2,.7,0,1) 0.6s forwards;
}

@keyframes marker-draw {
  to {
    transform: scaleX(1);
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0 0 0.5rem 0;
	color: rgb(var(--black));
	line-height: 1.2;
}
h1 {
	font-size: clamp(1.80em, 5vw, 3.2em);
}
h2 {
	font-size: 2.441em;
}
h3 {
	font-size: 1.953em;
}
h4 {
	font-size: 1.563em;
}
h5 {
	font-size: 1.25em;
}
strong,
b {
	font-weight: 700;
}
a {
	color: var(--accent);
}
a:hover {
	color: var(--accent);
}
p {
	margin-bottom: 1em;
}
.prose p {
	margin-bottom: 2em;
}
textarea {
	width: 100%;
	font-size: 16px;
}
input {
	font-size: 16px;
}
table {
	width: 100%;
}
img {
	max-width: 100%;
	height: auto;
	border-radius: 8px;
}
code {
	padding: 2px 5px;
	background-color: rgb(var(--gray-light));
	border-radius: 2px;
}
pre {
	padding: 1.5em;
	border-radius: 8px;
}
pre > code {
	all: unset;
}
blockquote {
	border-left: 4px solid var(--accent);
	padding: 0 0 0 20px;
	margin: 0;
	font-size: 1.333em;
}
hr {
	border: none;
	border-top: 1px solid rgb(var(--gray-light));
}
@media (max-width: 720px) {
	body {
		font-size: 18px;
		background-position: left bottom;
	}
}

.sr-only {
	border: 0;
	padding: 0;
	margin: 0;
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
	/* IE6, IE7 - a 0 height clip, off to the bottom right of the visible 1px box */
	clip: rect(1px 1px 1px 1px);
	/* maybe deprecated but we need to support legacy browsers */
	clip: rect(1px, 1px, 1px, 1px);
	/* modern browsers, clip-path works inwards from each corner */
	clip-path: inset(50%);
	/* added line to stop words getting smushed together (as they go onto separate lines and some screen readers do not understand line feeds as a space */
	white-space: nowrap;
}

/* Lines animation */

.lines {
  position: absolute;
  overflow: hidden;
  width: 90vw;
  height: 100vh;
  margin: 0 auto;
}

.lines .line {
  position: absolute;
  height: 100%;
  top: 0;
  background: rgba(255, 255, 255, 0.4);
  width: 3px;
  left: 50%;
  transform: translateX(-50%);
}

@media (min-width: 720px) {
  .draggable{
    display: none;
    visibility: hidden;
  }

	.lines .line::after{
		height: 72px !important;
	}

	.highlight{
		padding: 0em 0.4em;
	}

	.hero-brand{
		line-height: 1.45em;
	}
}

@media (max-width: 720px){
	.line:nth-child(2){
		display: none;
	}
	.hero{
		background-position: left;
	}

}

.lines .line:nth-child(1) {
  margin-left: -42vw;
}

.lines .line:nth-child(1)::after {
  animation-delay: 2s;
}

.lines .line:nth-child(2) {
  margin-left: -10%;
}

.lines .line:nth-child(3) {
  margin-left: 46%;
}

.lines .line:nth-child(2)::after {
	animation-delay: 1s;
}

.lines .line:nth-child(4) {
  margin-left: 14%;
}

.lines .line:nth-child(3)::after {
  animation-delay: 1.6s;
}

.lines .line::after {
  content: "";
  position: absolute;
  height: 40px;
  width: 100%;
  top: 0;
  left: 0;
  transform: translateY(-200%);
  background: linear-gradient(
    to bottom,
    #b496da 0%,
    #8c6ab7 55%,
    #7C50B2 100%
  );
  animation: run 4.6s infinite cubic-bezier(.2, 0.70, 0, 1);
  will-change: transform;
}


.lines .line:nth-child(4)::after {
	background: linear-gradient(
    to bottom,
    #8ebbe7 0%,
    #5285b8 55%,
    #0966C2 100%
  );
}

@keyframes run {
  0%   { transform: translateY(-150%); }
  100% { transform: translateY(150vh); }
}

/* Animation */
@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

/* Styling */
.slider {
  overflow: hidden;
  position: relative;
}

.slider::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}

.slider::before {
  left: 0;
  top: 0;
}

.slider .slide-track {
  display: flex;
  width: max-content;
  animation: scroll 25s linear infinite;
}

.slider .slide {
  flex-shrink: 0;
}


body *,
body *::before,
body *::after {
  position: relative;
  box-sizing: border-box;
}




body .switch {
  width: 56px;	
  border-radius: 9999px;
  border: 1px solid #00000000;
  padding: 5px;
  background-color: #409fe4;
  background-clip: padding-box;
  box-shadow: -1px 5px 4px inset rgba(0, 0, 0, 0.44);
  height: 22px;
  box-sizing: content-box;
  z-index: 1;
  border: 2px solid #00000000;
  transition: 0.1s ease;
  cursor: pointer;
}

body .switch::before {
  content: "";
  position: absolute;
  border-radius: inherit;
  top: -1px;
  left: -1px;
  bottom: -1px;
  right: -1px;
  z-index: -1;
  background: linear-gradient(130deg, #a1b4d1, #fefefd);
}

body .switch::after {
  content: "";
  position: absolute;
  border-radius: inherit;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  transition: 1s cubic-bezier(0.65, -0.05, 0.29, 1.2);
  background-color: inherit;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.shadow-overlay {
  position: absolute;
  inset: 0;
  box-shadow: -1px 5px 4px inset rgba(0, 0, 0, 0.44);
  border-radius: inherit;
  z-index: 10;
}

.sun-moon::before {
  position: absolute;
  content: "";
  border-radius: inherit;
  inset: 1px;
  background-color: #ecc420;
}

.insetcover {
  position: absolute;
  inset: 0;
  padding: inherit;
  overflow: hidden;
  border-radius: inherit;
}

.sun-moon-shadow {
  font-size: 22px;
  width: 1em;
  height: .5em;
  position: absolute;
  border-radius: 50%;
  right: calc(100% - 5px - 1em);
  transition: 0.6s cubic-bezier(0.65, -0.05, 0.29, 1.2);
  z-index: 1;
  box-shadow: 0 8px 11px rgba(0, 0, 0, 0.44);
}

.sun-moon {
  font-size: 22px;
  width: 1em;
  height: 1em;
  position: absolute;
  background-image: linear-gradient(130deg, #f2fa8f, #eb9a25);
  border-radius: 50%;
  right: calc(100% - 5px - 1em);
  transition: 0.6s cubic-bezier(0.65, -0.05, 0.29, 1.2);
  background-clip: padding-box;
  z-index: 5;
  box-shadow:
    0 0 0 9px rgba(255, 255, 255, 0.1),
    0 0 0 18px rgba(255, 255, 255, 0.1),
    0 0 0 27px rgba(255, 255, 255, 0.1);
}

.sun-moon.moon {
  background-image: linear-gradient(130deg, #fafbfe, #9aa4b1);
  opacity: 0;
}

.sun-moon.moon::before {
  position: absolute;
  content: "";
  border-radius: inherit;
  inset: 1px;
  background-color: #d2d9e1;
  background-image: url("https://firebasestorage.googleapis.com/v0/b/archiprivatechat.appspot.com/o/public%2FMoon%20Crater.png?alt=media&token=c305600c-f793-4491-b427-0a9300df17c8");
  background-size: 60%;
  background-repeat: no-repeat;
  background-position: center;
}

#dark-mode {
  display: none;
}

.stars {
  background-image: url("https://firebasestorage.googleapis.com/v0/b/archiprivatechat.appspot.com/o/public%2FStars.png?alt=media&token=ca411807-b26a-4bfe-ae17-87403ad20eaf");
  position: absolute;
  width: 45%;
  bottom: 5px;
  height: 80%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  transition: 0.6s cubic-bezier(0.65, -0.05, 0.29, 1.2);
  transform: translateY(-125%) translateZ(0);
}

#dark-mode:checked + .insetcover .sun-moon,
#dark-mode:checked ~ .sun-moon-shadow {
  right: 5px;
}

#dark-mode:checked + .insetcover .sun {
  opacity: 0;
}

#dark-mode:not(:checked) + .insetcover .moon {
  transform: rotate(-180deg);
}

#dark-mode:checked + .insetcover .moon {
  opacity: 1;
}

#dark-mode:checked + .insetcover .stars {
  transform: translateY(0%) translateZ(0);
  transition: 1s cubic-bezier(0.65, -0.05, 0.29, 1.2);
}

label[data-dark-mode="true"] .switch {
  background-color: #212737;
}

label[data-dark-mode="true"] .switch::after {
  background-position: 0px 100px;
}

label[for="dark-mode"] {
  width: clamp(50px, 100%, 100px);
}

.draggable{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cssbuttons-io-button {
  background: #4390f5e0;
  color: white;
  font-family: inherit;
  padding-left: 1.2em;
  font-size: 17px;
  font-weight: 500;
  border-radius: 0.9em;
  border: none;
  letter-spacing: 0.05em;
  display: flex;
  align-items: center;
  box-shadow: inset 0 0 1.6em -0.6em #4d9ca6;
  overflow: hidden;
  position: relative;
  height: 2.8em;
  cursor: pointer;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cssbuttons-io-button .icon {
  background: white;
  margin-left: .5em;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.2em;
  width: 2.2em;
  border-radius: 0.7em;
  box-shadow: 0.1em 0.1em 0.6em 0.2em #527fb9;
  left: 0;
  transition: all 0.3s;
}

.user-photo{
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

#sliderRail:after {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 0%;
  height: 100%;
  border-radius: 10px;
  background-color: rgba(255,255,255,0.4);
  transition: none;
  animation: shine 1.3s infinite;
}

@keyframes shine {
  100% {
    width: 100%;
    background-color: rgba(255,255,255,0);
    transition: all 1.2s ease-out;
  }
}

.bell-icon{
  display:block;
  position: absolute;
  width: 24px;
  height: 24px;
  margin:50px auto 0;
  top: -30%;
  right: -26%;
  color: #9e9e9e;
  -webkit-animation: ring 4s .7s ease-in-out infinite;
  -webkit-transform-origin: 50% 4px;
  -moz-animation: ring 4s .7s ease-in-out infinite;
  -moz-transform-origin: 50% 4px;
  animation: ring 4s .7s ease-in-out;
  transform-origin: 50% 4px;
}

@-webkit-keyframes ring {
  0% { -webkit-transform: rotateZ(0); }
  1% { -webkit-transform: rotateZ(30deg); }
  3% { -webkit-transform: rotateZ(-28deg); }
  5% { -webkit-transform: rotateZ(34deg); }
  7% { -webkit-transform: rotateZ(-32deg); }
  9% { -webkit-transform: rotateZ(30deg); }
  11% { -webkit-transform: rotateZ(-28deg); }
  13% { -webkit-transform: rotateZ(26deg); }
  15% { -webkit-transform: rotateZ(-24deg); }
  17% { -webkit-transform: rotateZ(22deg); }
  19% { -webkit-transform: rotateZ(-20deg); }
  21% { -webkit-transform: rotateZ(18deg); }
  23% { -webkit-transform: rotateZ(-16deg); }
  25% { -webkit-transform: rotateZ(14deg); }
  27% { -webkit-transform: rotateZ(-12deg); }
  29% { -webkit-transform: rotateZ(10deg); }
  31% { -webkit-transform: rotateZ(-8deg); }
  33% { -webkit-transform: rotateZ(6deg); }
  35% { -webkit-transform: rotateZ(-4deg); }
  37% { -webkit-transform: rotateZ(2deg); }
  39% { -webkit-transform: rotateZ(-1deg); }
  41% { -webkit-transform: rotateZ(1deg); }

  43% { -webkit-transform: rotateZ(0); }
  100% { -webkit-transform: rotateZ(0); }
}

@-moz-keyframes ring {
  0% { -moz-transform: rotate(0); }
  1% { -moz-transform: rotate(30deg); }
  3% { -moz-transform: rotate(-28deg); }
  5% { -moz-transform: rotate(34deg); }
  7% { -moz-transform: rotate(-32deg); }
  9% { -moz-transform: rotate(30deg); }
  11% { -moz-transform: rotate(-28deg); }
  13% { -moz-transform: rotate(26deg); }
  15% { -moz-transform: rotate(-24deg); }
  17% { -moz-transform: rotate(22deg); }
  19% { -moz-transform: rotate(-20deg); }
  21% { -moz-transform: rotate(18deg); }
  23% { -moz-transform: rotate(-16deg); }
  25% { -moz-transform: rotate(14deg); }
  27% { -moz-transform: rotate(-12deg); }
  29% { -moz-transform: rotate(10deg); }
  31% { -moz-transform: rotate(-8deg); }
  33% { -moz-transform: rotate(6deg); }
  35% { -moz-transform: rotate(-4deg); }
  37% { -moz-transform: rotate(2deg); }
  39% { -moz-transform: rotate(-1deg); }
  41% { -moz-transform: rotate(1deg); }

  43% { -moz-transform: rotate(0); }
  100% { -moz-transform: rotate(0); }
}

@keyframes ring {
  0% { transform: rotate(0); }
  1% { transform: rotate(30deg); }
  3% { transform: rotate(-28deg); }
  5% { transform: rotate(34deg); }
  7% { transform: rotate(-32deg); }
  9% { transform: rotate(30deg); }
  11% { transform: rotate(-28deg); }
  13% { transform: rotate(26deg); }
  15% { transform: rotate(-24deg); }
  17% { transform: rotate(22deg); }
  19% { transform: rotate(-20deg); }
  21% { transform: rotate(18deg); }
  23% { transform: rotate(-16deg); }
  25% { transform: rotate(14deg); }
  27% { transform: rotate(-12deg); }
  29% { transform: rotate(10deg); }
  31% { transform: rotate(-8deg); }
  33% { transform: rotate(6deg); }
  35% { transform: rotate(-4deg); }
  37% { transform: rotate(2deg); }
  39% { transform: rotate(-1deg); }
  41% { transform: rotate(1deg); }

  43% { transform: rotate(0); }
  100% { transform: rotate(0); }
}


.hero-3{
  position: relative;
}

.hero-3::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(
    240deg,
    #9cafc5 -38%,
    #e8e8e8 30%,
    #e8e8e8 50%,
    #e8e8e8 60%,
    #bed7f3 88%
  );
  mix-blend-mode: multiply; /* or adjust opacity */
  pointer-events: none;
}